

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0.880);
    height: 100px;
    box-shadow: 0px 4px 20px rgb(29, 29, 29);
}

footer {
    text-align: center;
    background-color: rgb(29, 29, 29);
    height: 50px;
    padding: 10px;
}

footer p {
    color: white;
}

h1,h2,h3 {
    font-family: 'Syne Mono', monospace;
}

p {
    font-family: 'comfortaa';
}

a {
    text-decoration: none;
}
/* ___________________________________________________________________________________________ */
/* ----------------------------------------------- Header------------- */

#pandaBox {
    height: 100px;
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.imgBan {
   border-radius: 0 0 90px 90px;
   height: 85%;
   overflow: hidden;
   box-shadow: 5px -2px 7px rgb(29, 29, 29);
}

#ban {
    width: 100%;
    height: 100%;
}

.textBan {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBan h1 {
    color: green;
    margin: 2px;
}

.textBan h2 {
    color: rgb(10, 10, 10);
    margin: 2px;
}

.categorie {
    margin: 5px;
    background-color: rgb(105, 0, 175);
    border-radius: 100px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'comfortaa';
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* ___________________________________________________________________________________________ */
/* ----------------------------------------Animation Header------------- */

.hidden {
    display: none;
}


span {
    cursor: pointer;
    user-select: none;
    font-family: "Comfortaa";
    color: rgb(255, 255, 255);
}
 
#tree {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: -1;
    visibility: visible;
    animation: anim 8s linear 1s infinite alternate;
}
  
@keyframes anim {
    100% {
      transform: translate(10px, 10px) rotate(3deg);
    }
}

/* ___________________________________________________________________________________________ */


main {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.articleBox {
    margin: 20px;
    width: 230px;
    height: 260px;
}

.articleContent{
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: 5px 5px 7px rgb(29, 29, 29);
    padding: 5px 15px;
    width: 200px;
    height: 250px;
    transition: 0.3s;
}

.articleContent:hover{
    transform: scale(97%);
}

.singleBox {
    display: flex;
    width: 80vw;
    margin: auto;
}

.leftPost {
    flex: 2;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.450);
    border-radius: 30px;
}

.rightPost {
    flex: 1;
    margin-left: 50px;
}